* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

 .left, .right {
    height: 100%;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
 }
 .left {
    left: 0;
   text-align: center;
   
 }
 .right {
    right: 0;
   text-align: center;

 }
 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
 }
 .centered img {
    width: 150px;
    border-radius: 50%;
 }

 h1 {
    color: #007BFF;
    
 }

