<div class="container offset-md-3">
  <ngb-carousel >
    <ng-template ngbSlide *ngFor="let news of newsList">
      <div class="picsum-img-wrapper">
        <a [href]="news.url"> <img [src]="news.urlofimg" alt="Random first slide" style="width: 100%; max-height:600px; margin:0 auto;"></a>
      </div>
      <div class="carousel-caption">
        <h3> {{news.title}}</h3>
        <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="row">

    
    <div class="card" style="width: 23rem;" *ngFor="let news of newsList;  let i=index">
      
        <img class="card-img-top" [src]="news.urlofimg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{news.title}}</h5>
          <p class="card-text">{{news.description}}</p>
        
        </div>
  
    </div>
  </div>
</div>

