<!DOCTYPE html>
<html lang="en">
<head>
    <% include featureViews/head %>
</head>
<body>
    <% include featureViews/menuItemsLoggedIn %>
    <div class="text-center">
        <h1>Profile page</h1>
    </div>
    <hr/>
    <div class="text-center">
        <div class="alert alert-info">
            <span>User Name  : <%= user.name %>,  </span><br>
            <span>Email : <%= user.email %>  </span>
        </div>
    </div>
    <% include featureViews/footer %>
</body>
</html>