<button id="btnNewsForm" class="btn nav-link m-2" role="link">Add News</button>
<button id="btnEditNews" class="btn nav-link m-2" role="link">See News</button>
<button id="btnLogout" class="btn nav-link m-2" role="link">Logout</button>
